* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #418dff;
}

input {
    padding: 5px;
    width: 15rem;
    height: 5rem;
    font-size: 3rem;
    text-align: center;
}

button {
    display: block;
    padding: 10px 25px;
    font-size: 3rem;
    font-weight: 250;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 2.5px;
    cursor: pointer;
    width: 15vh;
    margin: .5vh;
}

video {
    height: 33%;
    transform: scaleX(-1);
}

.video-div {
    display: inline-block;
    text-align: center;
}

.add-btns-div {
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
}

#add-class-div {
    display: flex;
    margin: 3rem;
    justify-content: center;
    text-align: center;
}

#add-class-div button {
    display: block;
    margin: 1rem;
    width: auto;
    height: auto;
}

#add-class-div input {
    display: flex;
    margin: 1rem;
    width: 20vh;
    height: 5vh;
    float: left;
    border-radius: 2.5px;
    border: none;
}