* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #418dff;
}

input {
    padding: 5px;
    width: 15vh;
    height: 5vh;
    font-size: 3rem;
    text-align: center;
}

button {
    display: block;
    padding: 10px 25px;
    font-size: 3rem;
    font-weight: 250;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 2.5px;
    cursor: pointer;
    width: 15vh;
    margin: .5vh;
}

video {
    width: 85%;
}

.add-btn {
    font-weight: bold;
    height: 10rem;
    width: 15rem;
}

.add-input {
    color: gray;
    height: 5rem;
    width: 15rem;
}

.video-div {
    display: block;
    text-align: center;
}

.bot-div {
    display: block;
    justify-content: center;
}

.add-btns-div {
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
}

.change-div {
    display: flex;
    justify-content: center;
    text-align: center;
}

#console {
    font-size: 200%;
}

#add-class-div {
    display: flex;
    margin: 3rem;
    justify-content: center;
    text-align: center;
}

#add-class-div button {
    display: block;
    margin: 1rem;
    width: auto;
    height: auto;
}

#add-class-div input {
    display: flex;
    margin: 1rem;
    width: 40vh;
    height: 8vh;
    float: left;
    border-radius: 2.5px;
    border: none;
}

#btnChangeCamera {
    font-size: 2rem;
    text-align: center;
}